@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: Trenda;
  src: url("Trenda.ttf");
}

body {
  background-color: #ebebee;
  font-family: Trenda, serif;
  color: #1c2645
}
.form-control {
  background-color: #dfe4ec;
}
.formDiv {
  padding: 5vh;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 0;
}

.navbar a {
  size: 20px;
  margin: 10px;
  color: white;
  font-family: Trenda, serif;
}

.hoverNav {
  position: relative;
}

.facebook {
  width: 4.5vh;
}

.hoverNav::after {
  opacity: 0;
  transition: all 0.5s;
  content: '';
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hoverNav:hover::after {
  opacity: 1;
}
.contactHeader {
  margin-top: 150px;
  height: 15vh;
  color: #1c2645;
}

.contactHeader_ {
  font-size: 50px;
  font-family: Trenda, serif;
  color: #1c2645;
}

.underLine {
  border-bottom: 1px solid #1c2645;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
.underLine:focus {
  outline: none;
}

.form-control:active {
  box-shadow: none;
}

.zprava {
  height: 90px;
}
.borderLeft {
  border-right: 2px solid #1c2645;
}
.contactForm {
  margin-top: 3vh;
  border-right: 2px solid #1c2645;
  padding-right: 9vh;
}



.editUnderline {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.editUnderline:hover {
  color: white;
  border-bottom: 2px solid #ffffff;
}

.footerText {
  color: #ebebee;
}
.footerHeader {
  font-family: Trenda, serif;
}

.icons {
  width: 11%;
  transition: 1s;
}
.icons:hover{
  content: '';
  color: black;
}

@media screen and (max-width: 1280px) {
  .NAVHeader_ {
    height: 60px;
    width: 140px;
  }

  .navIcon {
    font-size: 35px;
    background-color: transparent;
    border: 0;
  }
  .navbar a {
    font-size: 20px;
  }
  .formDiv {
    display: block;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }


  .borderLeft {
    border-right: 0;
    border-bottom: 2px solid #1c2645;
  }
  .contactForm {
    margin-top: 3vh;
    border-bottom: 2px solid #1c2645;
    padding-bottom: 9vh;
    padding-right: 0;
    border-right: 0;
  }

  .contactHeader {
    margin-top: 150px;
    height: 20vh;
    color: #1c2645;
  }

  .contactHeader_ {
    font-size: 25px;
    font-family: Trenda, serif;
    color: #1c2645;
  }
  .list-unstyled {
    margin-top: 5vh;
  }
}