@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: Trenda;
  src: url("Trenda.ttf");
}

body {
  background-color: #ebebee;
  font-family: Trenda, serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 0;
}

.navbar a {
  size: 20px;
  margin: 10px;
  color: white;
  font-family: Trenda, serif;
}

.hoverNav {
  position: relative;
}

.hoverNav::after {
  opacity: 0;
  transition: all 0.5s;
  content: '';
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hoverNav:hover::after {
  opacity: 1;
}


.NAVHeader_ {
  height: 30px;
  width: 70px;
}

.DHSHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.DHSHeader_ {
  height: 309.25px;
  width: 719.25px;
}

.addHeader {
  font-size: 16.5px;
  padding-top: 6vh;
  width: 719.25px;
  font-weight: 300 !important;
}

.arrowDiv {
  height: 12vh;
  width: 75%;
}

.infoCard {
  width: 652px;
  height: 402px;
  margin-left: 7.5vh;
  margin-bottom: 3rem;
  margin-top: 3rem;
  z-index: 300;
}


.infoCard1 {
  margin-top: 0;
}

.infoCard2 {
  margin-top: 0;
}

.cardHeaderDiv {
  width: 652px;
  margin-left: 7.5vh;
  margin-bottom: 1vh;
}

.cardHeader {
  color: #1c2645;
  font-size: 29.5px;
  font-family: Trenda, serif;
  width: 100%;
}

.infoCard1Div {
  height: 85vh;
}

.infoCard2Div {
  height: 95vh;
}

.infoCardImg1Div {
  position: relative;
  top: -220px;
  right: -495px;
  z-index: 20;
  width: 652px;
}

.infoCardDiv {
  height: 180vh;
  display: block;
}

.editUnderline {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.editUnderline:hover {
  color: white;
  border-bottom: 2px solid #ffffff;
}

.moreInfo {
  color: #1c2645;
  margin-bottom: 0.5vh;
  font-family: Trenda, serif;
  font-size: 20px;
}

.arrow {
  transform: rotate(270deg);
}

.moreInfo:hover {
  color: #1c2645;
}

.cardHeaderPar {
  font-size: 15px;
  padding-left: 6.5vh;
  width: 90%;
  letter-spacing: 0.3px;
}

.icons {
  width: 11%;
  transition: 1s;
}

.facebook {
  width: 4.5vh;
}

.icons:hover {
  content: '';
  color: black;
}

.infoCardPar {
  font-size: 17px;
  height: 70%;
  width: 60%;
  padding-top: 2vh;
}

.infoCardPar2 {
  font-size: 17px;
  height: 70%;
  width: 60%;
  padding-top: 7.5vh;
}

.infoCardMobile {
  display: none;
}

.infoCardParMobile {
  font-size: 11px;
  padding: 3vh;
  height: 70%;
  width: 350px;
  position: relative;
  top: 35px;
}

.mobileImg1 {
  position: relative;
  top: -230px;
  z-index: -1;
  margin-left: 4vh;
}

.mobileImg2 {
  position: relative;
  top: -200px;
  margin-left: 4vh;
  z-index: -1;
}

.mobileCard {
  height: 414px;
  width: 400px;
}

.moreInfoMobile1 {
  color: #1c2645;
  font-family: Trenda, serif;
  font-size: 10px;
  position: relative;
  bottom: -124px;
}

.moreInfoMobile2 {
  color: #1c2645;
  font-family: Trenda, serif;
  font-size: 10px;
  position: relative;
  bottom: -154px;
}

.moreInfoMobile:hover {
  color: #1c2645;
}

.arrowMobile {
  transform: rotate(270deg);
  margin-right: 4rem;
}

.cardHeaderDivMobile {
  width: 380px;
  margin-bottom: 1vh;
}

.cardHeaderMobile {
  color: #1c2645;
  font-size: 20px;
  font-family: Trenda, serif;
}

.footerText {
  color: #ebebee;
}

.footerHeader {
  font-family: Trenda, serif;
}

@media screen and (max-width: 1280px) {
  .infoCardDiv {
    display: none;
  }
  .DHSHeader_ {
    height: 154.625px;
    width: 359.625px;
  }
  .DHSHeader {
    height: 93vh;
  }
  .infoCardMobile {
    display: block;
  }
  .navbar {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .addHeader {
    padding-top: 6vh;
    width: 359.625px;
    font-size: 17px;
  }
  .cardHeaderMobile {
    color: #1c2645;
    font-size: 15px;
    font-family: Trenda, serif;
    position: relative;
    right: -15px
  }
}


@media screen and (max-width: 900px) {
  .NAVHeader_ {
    height: 60px;
    width: 140px;
  }

  .navIcon {
    font-size: 35px;
    background-color: transparent;
    border: 0;
  }
  .navbar a {
    font-size: 20px;
  }
  .infoCardMobile {
    display: block;
  }
  .cardHeaderMobile {
    color: #1c2645;
    font-size: 15px;
    font-family: Trenda, serif;
    position: relative;
    right: -15px
  }
  .infoCardParMobile {
    position: relative;
    left: -6px;
    top: 45px;
  }
}

@media screen and (max-width: 400px) {
  .infoCardParMobile {
    position: relative;
    left: -6px;
    top: 45px;
  }
  .mobileCard {
    margin-left: 1.5vh;
  }
}