@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: Trenda;
  src: url("Trenda.ttf");
}

body {
  background-color: #ebebee;
  font-family: Gill Sans MT, serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 0;
}

.navbar a {
  size: 20px;
  margin: 10px;
  color: white;
  font-family: Trenda, serif;
}

.hoverNav {
  position: relative;
}

.hoverNav::after {
  opacity: 0;
  transition: all 0.5s;
  content: '';
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hoverNav:hover::after {
  opacity: 1;
}

.NAVHeader_ {
  height: 30px;
  width: 70px;

}

.DHSHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.DHSHeader_ {
  height: 309.25px;
  width: 719.25px;
}

.arrowDiv {
  height: 12vh;
}

.infoCard {
  width: 652px;
  height: 402px;
  margin-left: 7.5vh;
  margin-bottom: 3rem;
  margin-top: 3rem;
  z-index: 300;
}


.infoCard1 {
  margin-top: 0;
}
.infoCard2 {
  margin-top: 0;
}

.cardHeaderDiv{
  width: 652px;
  margin-left: 7.5vh;
  margin-bottom: 1vh;
}

.cardHeader {
  color: #1c2645;
  font-size: 30px;
  font-family: Trenda, serif;
}

.infoCard1Div {
  height: 95vh;
}
.infoCard2Div {
  height: 85vh;
}

.infoCardImg1Div {
  position: relative;
  top: -220px;
  right: -495px;
  z-index: 20;
  width: 652px;
}

.infoCardDiv {
  height: 180vh;
  display: block;
}

.editUnderline {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.editUnderline:hover {
  color: white;
  border-bottom: 2px solid #ffffff;
}

.moreInfo {
  color: #1c2645;
  margin-bottom: 0.5vh;
  font-family: Trenda, serif;
  font-size: 20px;
}

.arrow {
    transform: rotate(270deg);
}

.moreInfo:hover {
  color: #1c2645;
}


.icons {
  width: 11%;
  transition: 1s;
}

.icons:hover {
  content: '';
  color: black;
}

.infoCardPar {
  font-size: 17px;
  padding-top: 5vh;
  height: 70%;
  width: 60%;
}

.infoCardMobile {
  display: none;
}

.infoCardParMobile {
  font-size: 11px;
  padding: 3vh;
  height: 70%;
  width: 350px;
}

.mobileImg1 {
  position: relative;
  top: -230px;
  z-index: -1;
  left: 47px;
}
.mobileImg2 {
  position: relative;
  top: -200px;
  left: 47px;
  z-index: -1;
}
.mobileCard {
  height: 414px;
  width: 400px;
}
.moreInfoMobile1 {
  color: #1c2645;
  font-family: Trenda, serif;
  font-size: 10px;
  position: relative;
  bottom: -100px;
}
.moreInfoMobile2 {
  color: #1c2645;
  font-family: Trenda, serif;
  font-size: 10px;
  position: relative;
  bottom: -130px;
}
.moreInfoMobile:hover {
  color: #1c2645;
}
.arrowMobile {
  transform: rotate(270deg);
  margin-right: 4rem;
}

.cardHeaderDivMobile{
  width: 400px;
  margin-bottom: 1vh;
}

.cardHeaderMobile {
  color: #1c2645;
  font-size: 20px;
  font-family: Trenda, serif;
}

@media screen and (max-width: 1280px) {
  .infoCardDiv {
    display: none;
  }
  .DHSHeader_ {
    height: 154.625px;
    width: 359.625px;
  }
  .DHSHeader {
    height: 80vh;
  }
  .infoCardMobile {
    display: block;
  }
}


@media screen and (max-width: 900px) {
  .NAVHeader_ {
    height: 60px;
    width: 140px;
  }

  .navIcon {
    font-size: 35px;
    border: 2px black;
    border-radius: 3px;
    background-color: #ebebee;
  }
  .navbar a {
    font-size: 27px;
  }
  .infoCardMobile {
    display: block;
  }
}