@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
  font-family: Trenda;
  src: url("Trenda.ttf");
}

body {
  background-color: white;
  font-family: Trenda, serif;
}
.navbar {
  width: 89%;
  border-bottom: 0.5px solid #000000;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.navbar a {
  size: 20px;
  margin: 10px;
}

.hoverNav {
  position: relative;
}
.hoverNav::after{
  opacity: 0;
  transition: all 0.5s;
  content: '';
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hoverNav:hover::after {
  opacity: 1;
}




.DHSHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.DHSHeader_ {
  font-size: 60px;
}

.infoCard {
  width: 35% !important;
}
.infoCardDiv {
  height: 50vh;
}
.editUnderline {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.editUnderline:hover {
  color: white;
  border-bottom: 2px solid #ffffff;
}

.moreInfo {
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  transition: 0.1s;
}
.moreInfo:hover {
  content: '';
  padding-bottom: 4px;
  color: black;
}

.icons {
  width: 11%;
  transition: 1s;
}
.icons:hover{
  content: '';
  color: black;
}

.cardHeader {
  font-size: 30px;
}




